@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat';
  marign: 0px;
  padding: 0px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;    
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  color: #f03c02;
  text-decoration: none;
}

.controls {
  background-color: black;
  background-image:
      url('../images/logo.png'),
      url('../images/flower.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 300px, cover;
  background-position-x: center, center;
  background-position-y: 20px, top;
  padding-top: 180px;
  width: 100%;
}

.control-box {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
}

.control-box .active {
  box-shadow: none;
}

.control-transportation .active span {
  background-position-y: -25px;
}

.drive-icon {
  background-image: url('../images/car.png');
  background-size: 100% auto;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 50px;
}

.bike-icon {
  background-image: url('../images/bike.png');
  background-size: 100%;
  display: inline-block;
  height: 25px;
  margin-right: 20px;
  vertical-align: middle;
  width: 50px;
}

.fast-icon {
  background-image: url('../images/fast.png');
  background-size: 100%;
  display: inline-block;
  height: 25px;
  margin-right: 20px;
  vertical-align: middle;
  width: 50px;
}

.walk-icon {
  background-image: url('../images/dude.png');
  background-size: 100%;
  display: inline-block;
  height: 25px;
  margin-right: 20px;
  vertical-align: middle;
  width: 50px;
}

.control-size .active span {
  background-position-y: -50px;
}
.small-icon {
  background-image: url('../images/artist_small.png');
  background-size: 100%;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
  width: 58px;
}

.medium-icon {
  background-image: url('../images/artist_medium.png');
  background-size: 100%;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
  width: 58px;
}

.big-icon {
  background-image: url('../images/artist_big.png');
  background-size: 100%;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 58px;
}

.spotify-login {
  color: white;
  display: inline-block;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.spotify-login .icon {
  background-image: url('../images/spotify.png');
  background-size: 100% auto;
  display: inline-block;
  height: 33px;
  margin-right: 12px;
  margin-bottom: 4px;
  vertical-align: middle;
  width: 32px;
}

.spotify-login:hover .icon {
  background-position-y: -33px;
}

.control-preferences {
}

.control-preferences ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-preferences li {
  list-style-type: none;
}

.control-preferences .preferred-artist {
  cursor: pointer;
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.control-preferences .preferred-artist:hover {
  color: #f03c02;
  text-decoration: line-through;
}

.control-preferences button {
  background: transparent;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none !important;
  padding: 4px;
  width: 264px;
}

.control-preferences button:hover {
  border-color: #bbbbbb;
  color: #bbbbbb;
}

.control-preferences button:active {
  border-color: #f03c02;
  color: #f03c02;
}

h1 {
  color: #f03c02;
  font-size: 35px;
  letter-spacing: 10px;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #f03c02;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
  text-transform: capitalize;
}

ul.days {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.days li {
  list-style-type: none;
}

ul.activities {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.activities li {
  list-style-type: none;
}

.activity-concert {
  background-color: black;
  background-size: cover;
  color: white;
  height: 80px;
  width: 100%;
}

.activity-concert a {
  color: inherit;
}

.activity-concert a:hover,
.activity-concert a:active {
  color: #f03c02;
}

.activity-concert .info {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  text-align: center;
}

.activity-concert .info-artist {
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.activity-concert .info-start {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

.activity-concert .info-venue {
  color: rgba(240, 60, 2, 0.9);
  display: inline-block;
  text-transform: capitalize;
}

.activity-concert .info-duration {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

@media only screen and (min-device-width: 768px) {
.activity-concert {
  font-size: 18px;
  height: 120px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.activity-concert .info-artist {
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 4px;
  padding-top: 20px;
}
}

.activity-transit {
  height: 60px;
  width: 100%;
}

.activity-transit a {
  color: inherit;
}

.activity-transit a:hover,
.activity-transit a:active {
  color: #f03c02;
}

.activity-transit .info {
  height: 100%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (min-device-width: 768px) {
.activity-transit {
  font-size: 18px;
  height: 80px;
}
.activity-transit .info {
  line-height: 80px;
}
}

.activity-transit .info-method {
  
}

.activity-transit .info-from {
  
}

.activity-transit .info-from-venue {
  color: #f03c02;
  text-transform: capitalize;
}

.activity-transit .info-to {
  
}

.activity-transit .info-to-venue {
  color: #f03c02;
  text-transform: capitalize; 
}

.activity-transit .info-in {
  color: rgba(0, 0, 0, 0.6);
}

.activity-transit .info-in-time {
  
}
