<div ng-controller="MainCtrl">
  <div class="controls">
    <div class="control-box control-transportation">
      <div class="btn-group">
        <label class="btn" ng-model="transportationMethod" btn-radio="'walking_slow'"><span class="walk-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'walking'"><span class="fast-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'bicycling'"><span class="bike-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'driving'"><span class="drive-icon"></span></label>
      </div>
    </div>

    <div class="control-box control-transportation">
      <div class="btn-group">
        <label class="btn" ng-model="artistSize" btn-radio="'0.3'"><span class="walk-icon"></span></label>
        <label class="btn" ng-model="artistSize" btn-radio="'0.5'"><span class="bike-icon"></span></label>
        <label class="btn" ng-model="artistSize" btn-radio="'0.9'"><span class="drive-icon"></span></label>
      </div>
    </div>

    <div class="control-box">
      <script type="text/ng-template" id="preferredConcertsAdder.html">
        <div class="modal-header">
          <h3 class="modal-title">Select a concert</h3>
        </div>
        <div class="modal-body">
          <div ng-repeat="concert in concerts">
            <button type="button" class="btn btn-sm btn-default" ng-click="select(concert)">
              {{ concert['artist-name'] }}
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="dismiss()">Dismiss</button>
        </div>
      </script>
      <div>
        I really would like to attend these concerts:
        <button type="button" class="btn btn-sm btn-success" ng-click="openPreferredConcertAdder()">+</button>
      </div>
      <ul ng-repeat="concert in preferredConcerts">
        <li>
          {{ concert['artist-name'] }}
          <button type="button" class="btn btn-sm btn-danger" ng-click="removePreferredConcert(concert['artist-id'])">X</button>
        </li>
      </ul>
    </div>

    <div class="control-box">
      <a class="spotify-login" ng-click="loginToSpotify()"><span class="icon"></span>Spotify Login</a>
    </div>
  </div>

  <div class="spinner" id="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <ul class="days" ng-repeat="day in activities.days">
    <li>
      <h2>{{ day.name }}</h2>
      <ul class="activities" ng-repeat="activity in day.activities">
        <li ng-if="activity.type == 'concert'" class="activity-concert" style="background-image: url('images/artists_640/{{ activity.artistId }}_thumb.jpg');">
          <div class="info">
            <span class="info-artist"><a href="http://wayoutwest.se/artist/{{ activity.artistId }}">{{ activity.artistName }}</a></span>
            <span class="info-start">{{ activity.startingTime }}</span>
            <span class="info-venue">{{ activity.venueName }}</span>
            <span class="info-duration">{{ activity.duration }} minutes</span>
        </div>
        </li>
        <li ng-if="activity.type == 'transit'" class="activity-transit">
          <div class="info">
            <span class="info-method">{{ activity.methodVerb }}</span>
            <span class="info-from">from <span class="info-from-venue">{{ activity.fromVenueName }}</span></span>
            <span class="info-to">to <span class="info-to-venue">{{ activity.toVenueName }}</span></span>
            <span class="info-in" ng-if="!activity.shortTransit">(<span class="info-in-time">{{ activity.duration}} minutes</span>)</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
