<div ng-controller="MainCtrl">
  <div class="controls">
    <div class="control-box control-transportation">
      <div class="btn-group">
        <label class="btn" ng-model="transportationMethod" btn-radio="'slow_walking'"><span class="walk-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'walking'"><span class="walk-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'bicycling'"><span class="bike-icon"></span></label>
        <label class="btn" ng-model="transportationMethod" btn-radio="'driving'"><span class="drive-icon"></span></label>
      </div>
    </div>

    <div class="control-box">
      <input type="range" ng-model="artistSize" name="points" min="0" max="1000">
    </div>

    <div class="control-box">
      <script type="text/ng-template" id="preferredConcertsAdder.html">
        <div class="modal-header">
          <h3 class="modal-title">Select a concert</h3>
        </div>
        <div class="modal-body">
          <div ng-repeat="concert in concerts">
            <button type="button" class="btn btn-sm btn-default" ng-click="select(concert)">
              {{ concert['artist-name'] }}
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="dismiss()">Dismiss</button>
        </div>
      </script>
      <div>
        I really would like to attend these concerts:
        <button type="button" class="btn btn-sm btn-success" ng-click="openPreferredConcertAdder()">+</button>
      </div>
      <ul ng-repeat="concert in preferredConcerts">
        <li>
          {{ concert['artist-name'] }}
          <button type="button" class="btn btn-sm btn-danger" ng-click="removePreferredConcert(concert['artist-id'])">X</button>
        </li>
      </ul>
    </div>

    <div class="control-box">
      <a class="spotify-login" ng-click="loginToSpotify()"><span class="icon"></span>Spotify Login</a>
    </div>
  </div>

  <div class="row">
    <li ng-repeat="artist in artists">
      <span>{{artist.name}}</span>
    </li>
  </div>

  <h1>Concerts</h1>
  <ul class="days" ng-repeat="day in activities.days">
    <li>
      <h2>{{ day.name }}</h2>
      <ul class="activities" ng-repeat="activity in day.activities">
        <li ng-if="activity.type == 'concert'">
          <strong>{{ activity.artistName }}</strong>
          <em>{{ activity.venueName }}</em>
          <strong>{{ activity.startingTime }}</strong>
          <em>{{ activity.duration }}</em>
        </li>
        <li ng-if="activity.type == 'transit'">
          <em>{{ activity.methodVerb }}</em>
          from <strong>{{ activity.fromVenueName }}</strong>
          to <strong>{{ activity.toVenueName }}</strong> (estimated {{ activity.duration}}).
        </li>
      </ul>
    </li>
  </ul>
</div>
